In [1]:
data = [
       [[22], [1]],
       [[23], [1]],
       [[21], [1]],
       [[18], [1]],
       [[19], [1]],
       [[25], [0]],
       [[27], [0]],
       [[29], [0]],
       [[31], [0]],
       [[45], [0]],
    ]

In [2]:
query = [33]

In [3]:
import math

def euclidean_distance(x,y):
    distance = 0
    for i in range(len(x)):
        distance += (y[i]-x[i]) ** 2
    return math.sqrt(distance)

In [4]:
x = [22]
y = [17]
k=3
neighbour_distances=[]
for i in data:
    neighbour_distances.append((euclidean_distance(i[0],y),i[1][0]))
sorted_neighbour_distances = sorted(neighbour_distances)
sorted_neighbour_distances = sorted_neighbour_distances[:k]
print(sorted_neighbour_distances)
max(set(sorted_neighbour_distances[1]),key=sorted_neighbour_distances[1].count)
    
    
    
#euclidean_distance(x,y)

[(1.0, 1), (2.0, 1), (4.0, 1)]

1

In [5]:
import pandas as pd

In [7]:
df =  pd.read_csv("Datasets\iris.data")

In [8]:
df.columns=['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species']

In [9]:
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            4.9           3.0            1.4           0.2  Iris-setosa
1            4.7           3.2            1.3           0.2  Iris-setosa
2            4.6           3.1            1.5           0.2  Iris-setosa
3            5.0           3.6            1.4           0.2  Iris-setosa
4            5.4           3.9            1.7           0.4  Iris-setosa

In [10]:
df['SepalLengthCm'][0]

4.9

In [11]:
len(df)

129

In [12]:
data=[]
for i in range(len(df)):
    data.append([[df['SepalLengthCm'][i],df['SepalWidthCm'][i],df['PetalLengthCm'][i],df['PetalWidthCm'][i]],[df['Species'][i]]])

In [13]:
data = [
       [[22], [1]],
       [[23], [1]],
       [[21], [1]],
       [[18], [1]],
       [[19], [1]],
       [[25], [0]],
       [[27], [0]],
       [[29], [0]],
       [[31], [0]],
       [[45], [0]],
    ]

In [14]:
y=[17]
k=3
neighbour_distances=[]
for i in data:
    neighbour_distances.append((euclidean_distance(i[0],y),i[1][0]))
sorted_neighbour_distances = sorted(neighbour_distances)
sorted_neighbour_distances = sorted_neighbour_distances[:k]
print(sorted_neighbour_distances)
sorted_neighbour_distances[0][1]
dit = {}
for i in sorted_neighbour_distances:
    if i[1] in dit:
        dit[i[1]] = dit[i[1]] + 1
    else:
        dit[i[1]] = 1
        
print(dit)

[(1.0, 1), (2.0, 1), (4.0, 1)]
{1: 3}